<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <!--$event - gets the event data from cockpit component -->
    <app-cockpit 
      (serverCreated)="onServerAdded($event)"
      (bpCreated)="onBlueprintAdded($event)">
    </app-cockpit>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button class=""btn btn-danger (click)="onDestroyFirst()" > Destroy first server Element </button>
        <!-- [srvElement]- it is a alias for serverElement type definition [element] -->
        <app-server-element 
        *ngFor="let serverElement of serverElements" 
        [srvElement] ='serverElement'>
          <p #contentParagraph>
            <strong *ngIf="serverElement.type === 'server'" style="color: red;" >{{ serverElement.content }}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
          </p>
        </app-server-element>
      </div>
    </div>
  </div>
</body>
</html>
