<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <app-shopping-list-edit></app-shopping-list-edit>
            <hr/>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-group">
                        <a href="" class="list-group-item"
                        style="cursor: pointer;"
                        *ngFor="let ingredient of ingredients">
                    {{ingredient.name}} ({{ingredient.amount}})</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
