<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!-- custom event binding by using two way data binding [(ngModel)]-->
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
      <!-- binding through local reference - #serverNameInput -->
      <input type="text" class="form-control" #serverNameInput>
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <br>
      <!-- getting the serverNameInput value and passing to ts file as parameter -->
      <button
        class="btn btn-primary"
        (click)="onAddServer(serverNameInput)">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
    </div>
</div>  
</body>
</html>
