<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular Project</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <app-header></app-header>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <app-recipe-book></app-recipe-book>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</body>
</html>